
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";



.sub-menu {
  font-size: 18px;
  padding: 5px 10px;
  background-color: lighten($brand-info, 30%);
  display: none;
  list-style-type: none;
  a {
    padding-left: 5px;
    padding-right: 5px;
  }
}